.textareaGroup {
    height: fit-content;
}

.wrapLabel {
    display: flex;
    align-items: center;
    gap: 10px;
}

.wrapLabel>svg {
    color: var(--color-soft-green);
}

.textarea {
    resize: vertical;
    min-height: 70px;
}

.answerItem {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.answerAction {
    display: flex;
    gap: 16px;
}
