.editorContainer {
    margin-bottom: 16px;
    border: 1px solid var(--color-shadow);
    border-radius: var(--border-radius-low);
    box-shadow: 0px 0px 10px var(--color-shadow);
    background-color: white;
    width: 100%;
}

.editorToolbar {
    display: flex;
    padding: 8px;
    background-color: #f7f7f7;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid var(--color-gray);
}

.toolBarList {
    display: flex;
    gap: 4px;
}

.toolbarButton {
    padding: 4px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: var(--border-radius-low);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition-timing-fast);
    transition-property: background-color;
}

.toolbarButton:hover {
    color: var(--color-primary);
}

.toolbarButton.active {
    background-color: var(--color-primary);
    color: white;
    border-color: var(--color-primary);
}

.editorContent,
[contenteditable="true"] {
    outline: none;
}

.editorContent img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 30%;
}

.editorContent {
    padding: 16px;
    max-height: 250px;
    overflow: auto;
}

.imageContent {
    max-width: 800px;
}
